development:
  adapter: postgresql
  encoding: unicode
  database: restaurant_dev
  pool: 5
  username: root

test:
  adapter: postgresql
  encoding: unicode
  database: restaurant_test
  pool: 5
  username: root